RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# RewriteCond %{THE_REQUEST} ^GET\ /careers/

RewriteRule ^careers(/.*?)(?:\.html)?$ $1 [R=302,L]

#RewriteBase /
#RewriteRule ^careers/(.*)$ $1 [NC,L,R]
#RewriteRule /(.*) /careers/$1    [L]


# RewriteRule ^careers/senior-full-stack-developer$ /fsd
#RewriteRule ^careers/(.+)$ $1 [NC,L]
#RewriteRule "^/careers/(.+)" "/$1" [L]

#RewriteRule \#/^(.*)$ $1 [L,R=302]
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Redirect 301 "/blog" "https://blog.workruit.com/"
#Redirect 301 "^/#"(.*) "https://dev.workruit.com/faq" [R]
#ErrorDocument 404 "https://dev.workruit.com/404"
