RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
Redirect 301 "/blog" "https://blog.workruit.com/"
Redirect 301 "/index.html" "/"
ErrorDocument 404 https://dev.workruit.com/404
